<footer>
    <p>&copy 2020 Pizzéria La Botega | <a href="#">Mentions légales</a> | <a href="#">CGV</a></p>
  </footer>
  <!-- On insère ici les liens vers les js -->
  <!-- Librairie jQuery -->
  <script src="js/jquery-3.5.1.slim.min.js"></script>
  <!-- JavaScript de Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
